{% extends 'user/admin/back.html.twig' %}

{% block title %}Edit Kit{% endblock %}

{% block body %}
    <h1>Edit Kit</h1>

    {{ include('kit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('kit_index') }}">back to list</a>

    {{ include('kit/_delete_form.html.twig') }}
{% endblock %}
