{% extends 'user/admin/back.html.twig' %}

{% block title %}New Kit{% endblock %}

{% block body %}
    <h1>Create new Kit</h1>

    {{ include('kit/_form.html.twig') }}

    <a href="{{ path('kit_index') }}">back to list</a>
{% endblock %}
